{% extends 'base.html.twig' %}

{% block body %}
    <head><meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
    <h1>Categories list</h1>

    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Category name</th>
            <th>Created</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td><a href="{{ path('category_show', { 'id': category.id, 'ida' : team.id }) }}">{{ category.id }}</a></td>
                <td>{{ category.categoryname }}</td>
                <td>{% if category.created %}{{ category.created|date('Y-m-d') }}{% endif %}</td>
                <td>

                            <form action="{{ path('category_show', { 'id': category.id, 'ida' : team.id  }) }}">
                                <input type="submit" value="Show" />
                            </form>

                    <form action="{{ path('categories_edit', { 'id': category.id }) }}">
                        <input type="submit" value="Edit" />
                    </form>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>




    <ul>
        <li>
            <a href="{{ path('categories_new', { 'id': team.id }) }}">Create a new category</a>
        </li>
        <li>
            <a href="{{ path('tasks_index', { 'id': team.id }) }}">Return to project view</a>
        </li>
    </ul>

{% endblock %}
